<%- include('../layouts/header.ejs') -%>

<div class="text-end me-3">
  <a href="/admin/logout" class="btn btn-danger mt-2 mb-2 me-2">Logout</a>

  <!-- <a href="/admin/" class="btn btn-info">Go Back</a> -->
</div>
<h3 class="mt-2"><center><b>Welcome Admin</b></center></h3>
<br>

<div class="me-2 ms-2">
<div class="container mt-4">
  <label for="searchInput" class="form-label">Search by Name:</label>
  <input type="text" id="searchInput" class="form-control form-control-lg" placeholder="Enter name">
</div><br><br>
<div class="text-end">
  <a href="/admin/new-user" class="btn btn-success my-2">Add New User</a>
</div>
<table width="100%" class="table">
  <thead>
    <tr class="table-primary text-center">
      <th scope="col">User Id </th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mob Number</th>
      <th scope="col">Actions</th>
    </tr> 
    
    <tbody>
    <% 
    if(users.length>0){
      for(let i=0;i<users.length;i++){
        %>
        <tr class="text-center">
            <td><%= i+1 %></td>
            <td><%= users[i].name %></td>
            <td><%= users[i].email %></td>
            <td><%= users[i].mobile %></td>
            <td>
              <a href="/admin/edit-user?id=<%= users[i]._id %>" class="btn btn-info">Edit</a>
              <a href="/admin/delete-user?id=<%= users[i]._id %>" class="btn btn-danger">Delete</a>
            </td>
          </tr>
          <%
        }
      }else{
        %>
        <>
          <tr>
            <td colspan="5">User Not Found</td>  
          </tr>
        <%
      }
      %>
    </tbody>
    </table>
    <br><br>
</div>


<script>
  const searchInput = document.getElementById('searchInput');
  const tableRows = document.querySelectorAll('tbody tr');

  searchInput.addEventListener('input', function () {
    const searchTerm = searchInput.value.toLowerCase();

    tableRows.forEach(row => {
      const userName = row.querySelector('td:nth-child(2)').textContent.toLowerCase();
      row.style.display = userName.includes(searchTerm) ? '' : 'none';
    });
  });
</script>
<script>
  window.addEventListener('pageshow', function (event) {
    // Check if the page is shown from the session history
    if (event.persisted) {
      // Reload the page to prevent cached content
      window.location.reload();
    }
  });
</script>

<%- include("../layouts/footer.ejs") -%>


